.halloween-img img{
  width: 100%;
}

.event-items {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem auto;
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  .event-items {
    width: 70%;
    /* grid-template-columns: repeat(3, 1fr); */
  }
}

@media screen and (max-width: 640px) {
  .event-items {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}