.header-route {
  margin-top: 1.5rem;
  font-size: 0.875rem;
}

.header-title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.header-desc {
  font-weight: 500;
  width: 50%;
  display: block;
  margin: 1rem auto 2rem;
}

@media screen and (max-width: 920px) {
  .header-title {
    font-size: 1.7rem;
  }
  .header-desc {
    width: 70%;
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 640px) {
  .header-route {
    margin-top: 1rem;
    font-size: 0.75rem;
  }
  
  .header-title {
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }
  
  .header-desc {
    width: 80%;
    margin: 1rem auto 1rem;
    font-size: 0.75rem;
  }
}