.item-card {
  box-sizing: border-box;
  border: 1px solid transparent;
  position: relative;
  padding-bottom: 1rem;
}

.item-card-label {
  display: block;
  position: absolute;
  left: 0;
  padding: 0.5rem;
  background-color: #e8e8e8;
  font-size: 0.875rem;
  font-weight: 500;
}

.item-card:hover{
  border: 1px solid #e8e8e8;
}

.item-card:hover > .card-fav{
  display: block;
}

.card-img img{
  width: 99%;
}

.add-to-basket-div {
  position: relative;
  margin: 0 0.8rem;
  display: none;
}

.add-to-basket {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  border-radius: 8px;
}

.item-card:hover > .add-to-basket-div{
  display: block;
}

.card-name {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 2px 0;
  display: inline-block;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stars{
  display: inline-block;
  color: var(--pink);
  padding: 2px;
}

.card-reviews {
  display: inline-block;
  margin: 0 0 0 2px;
}

.card-price {
  margin-bottom: 4px;
  font-weight: 500;
}

.card-fav{
  background: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px 8px;
  font-size: 1.5rem;
  color: rgb(175, 175, 175);
  border: none;
  display: none;
  z-index: 5;
}

.card-fav:hover{
  color: var(--pink);
  background: none;
}

@media screen and (max-width: 1280px) {
  .card-img img{
    margin-top: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .card-name {
    font-size: 1rem;
    margin: 0 0 1.5px 0;
  }
  .stars{
    font-size: 0.875rem;
  }
  
  .card-reviews {
    font-size: 0.875rem;
  }
  
  .card-price {
    font-size: 0.875rem;
  }

  .item-card-label {
    padding: 0.3rem 0.5rem;
    font-size: 0.75rem;
  }
  .card-fav{
    font-size: 1.3rem;
  }
  .add-to-basket {
    font-size: 0.75rem;
  }
  .add-to-basket-div {
    margin: 0 0.4rem;
  }
}

@media screen and (max-width: 640px) {
  .card-name {
    font-size: 0.875rem;
    margin: 0;
  }
}