nav {
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  align-items: center;
  background-color: var(--container);
  font-size: 0.875rem;
  font-weight: 500;
  height: 4.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}

.menu {
  font-size: 1.4rem;
}

.menu a {
  margin: 0 1rem;
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #f190a0;
}

.shopping-bag {
  position: relative;
}

.shopping-bag-label {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--pink);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
}

.wishlist-heart {
  position: relative;
}

.wishlist-heart-label {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--pink);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .links {
    gap: 1rem;
    font-size: 0.875rem;
  }
  nav {
    height: 3.5rem;
  }
  .menu {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.2rem;
  }
  .shopping-bag-label {
    width: 1.1rem;
    height: 1.1rem;
    font-size: 0.75rem;
    font-weight: 500;
  }
  .wishlist-heart-label {
    width: 1.1rem;
    height: 1.1rem;
    font-size: 0.75rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 700px) {
  .links {
    font-size: 0.75rem;
  }
}