.recently-viewed-title {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  margin: 2rem 20vw;
}

.recently-viewed-div {
  margin-bottom: 2rem;
}

.recently-viewed-list {
  margin: 0 auto;
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}