.recently-viewed-title {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  margin: 2rem 20vw;
}

.recently-viewed-div {
  margin-bottom: 2rem;
}

.recently-viewed-list {
  margin: 0 auto;
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1280px) {
  .recently-viewed-list {
    width: 80vw;
  }
  .recently-viewed-title {
    margin: 2rem 10vw;
  }
}