.wishlist-card-div {
  margin: 0 auto;
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.wishlist-card {
  border: 1px solid transparent;
  position: relative;
}

.wishlist-card img {
  width: 100%;
}

.wishlist-card:hover{
  border: 1px solid #e8e8e8;
}

.wishlist-card-name {
  font-weight: 500;
  margin: 0;
}

.remove-from-wishlist {
  background-color: transparent;
  border: none;
  color: #e8e8e8;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  z-index: 5;
}

.remove-from-wishlist:hover {
  color: rgb(137, 143, 143);
  background-color: transparent;
}

@media screen and (max-width: 1280px) {
  .wishlist-card-div {
    width: 80vw;
  }
}

@media screen and (max-width: 700px) {
  .wishlist-card-name {
    font-size: 0.875rem;
  }
  .wishlist-card-price {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 640px) {
  .wishlist-card-div {
    grid-template-columns: repeat(2, 1fr);
  }
}